{% extends 'main/cycle.html'%}
{% block title %} Цикл 6 {% endblock %}


{% block content %}
<form action="results_6" method="post">
        {% csrf_token %}
<div class="check-group2">
<h1>Заинтересованные стороны</h1>
</div>

<div class="check-group">
    <h2> В согласии </h2>
    <label for="myCheckbox01" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox01" name = "В согласии">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Минимальные ожидания представителей заинтересованных сторон относительно следующего развертывания новой системы были достигнуты.</span>
  </label>

  <label for="myCheckbox02" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox02" name = "В согласии">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Представители заинтересованных сторон довольны своим участием в работе. </span>
  </label>

  <label for="myCheckbox03" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox03" name = "В согласии">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Представители заинтересованных сторон согласны с тем, что их вклад ценится командой.  </span>
  </label>

   <label for="myCheckbox04" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox04" name = "В согласии">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Члены команды согласны с тем, что их вклад ценится представителями заинтересованных сторон.  </span>
  </label>

   <label for="myCheckbox05" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox05" name = "В согласии">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Представители заинтересованных сторон согласны с тем, что их различные приоритеты и перспективы сбалансированы так, что обеспечивается необходимое для успешного выполнения проекта руководство команды. </span>
  </label>
</div>



<!-- ВОЗМОЖНОСТЬ-->
<div class="check-group2">
<h1>Возможность</h1>
</div>

<div class="check-group">
    <h2> Жизнеспособна </h2>
  <label for="myCheckbox06" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox06" name = "Жизнеспособна">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Решение было намечено. </span>
  </label>

  <label for="myCheckbox7" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox7" name = "Жизнеспособна">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Решение может быть разработано и развернуто в рамках существующих ограничений. </span>
  </label>

   <label for="myCheckbox8" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox8" name = "Жизнеспособна">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Риски, связанные с намеченным решением, являются приемлемыми и управляемыми. </span>
  </label>
<label for="myCheckbox9" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox9" name = "Жизнеспособна">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Ориентировочные затраты на решение допустимы. </span>
  </label>
<label for="myCheckbox10" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox10" name = "Жизнеспособна">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Причины разработки программного решения понятны всем членам команды. </span>
  </label>
</div>


<!-- ТРЕБОВАНИЯ-->
<div class="check-group2">
<h1>Требования</h1>
</div>
<div class="check-group">
    <h2> Адресованы </h2>

    <label for="myCheckbox11" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox11" name = "Адресованы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Достаточно требований для того, чтобы полученная система была приемлемой для заинтересованных сторон.</span>
  </label>

    <label for="myCheckbox12" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox12" name = "Адресованы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Заинтересованные стороны принимают требования как точно отражающие то, что система делает и не делает. </span>
  </label>

    <label for="myCheckbox13" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox13" name = "Адресованы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Внедренный набор требований обеспечивает ясную ценность для заинтересованных сторон. </span>
  </label>

    <label for="myCheckbox14" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox14" name = "Адресованы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Система, реализующая требования, принимается заинтересованными сторонами как заслуживающая практического применения. </span>
  </label>
</div>

<!-- ПРОГРАММНАЯ СИСТЕМА-->
<div class="check-group2">
<h1>Программная система</h1>
</div>
<div class="check-group">
    <h2> Демонстрируемая </h2>
 <label for="myCheckbox16" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox16" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Ключевые архитектурные характеристики были продемонстрированы. </span>
  </label>

    <label for="myCheckbox17" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox17" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Система может быть задействована и ее производительность может быть измерена. </span>
  </label>

    <label for="myCheckbox18" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox18" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Ключевые конфигурации оборудования были продемонстрированы. </span>

</label>
    <label for="myCheckbox19" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox19" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Ключевые интерфейсы системы были продемонстрированы. </span>
  </label>

   <label for="myCheckbox20" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox20" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Интеграция с существующими системами была продемонстрирована. </span>
  </label>

   <label for="myCheckbox21" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox21" name = "Демонстрируемая">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Соответствующие заинтересованные стороны согласны с тем, что продемонстрированная архитектура является подходящей. </span>
  </label>
</div>


<!-- РАБОТА-->
<div class="check-group2">
<h1>Работа</h1>
</div>
<div class="check-group">
<h2> Под контролем </h2>
    <label for="myCheckbox22" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox22" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Задачи выполняются. </span>
  </label>

<label for="myCheckbox23" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox23" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Не детализированная работа также находится под контролем. </span>
  </label>

    <label for="myCheckbox24" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox24" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Риски находятся под контролем, так как воздействие, если оно происходит, и вероятность их возникновения были снижены до приемлемых уровней. </span>
  </label>

    <label for="myCheckbox25" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox25" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Оценки пересматриваются с учетом результатов работы команды. </span>
  </label>

    <label for="myCheckbox26" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox26" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Меры прогресса и скорости выполнения достаточны. </span>
  </label>

    <label for="myCheckbox27" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox27" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Переработки под контролем. </span>
  </label>

    <label for="myCheckbox28" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox28" name = "Под контролем">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Задачи последовательно выполняются в срок и удовлетворительно. </span>
  </label>
</div>

<!-- КОМАНДА-->
<div class="check-group2">
<h1>Команда</h1>
</div>

<div class="check-group">
 <h2> В разработке </h2>
    <label for="myCheckbox29" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox29" name = "В разработке">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Команда последовательно выполняет свои обязательства. </span>
  </label>

    <label for="myCheckbox30" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox30" name = "В разработке">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Команда постоянно адаптируется к меняющимся условиям. </span>
  </label>

    <label for="myCheckbox31" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox31" name = "В разработке">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Команда выявляет и решает проблемы без посторонней помощи. </span>
  </label>

    <label for="myCheckbox32" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox32" name = "В разработке">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Эффективный прогресс достигается с минимальным отступлением и переработкой. </span>
  </label>

    <label for="myCheckbox33" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox33" name = "В разработке">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Потраченная впустую работа или потенциально возможная потраченная впустую работа постоянно выявляются и устраняются. </span>
  </label>
</div>

<!-- ТЕХНОЛОГИЯ РАБОТЫ-->
<div class="check-group2">
<h1>Технология работы</h1>
</div>

<div class="check-group">
  <h2> В использовании </h2>
    <label for="myCheckbox34" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox34" name = "В использовании">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Практики и инструменты используются всей командой для выполнения своей работы. </span>
  </label>

    <label for="myCheckbox35" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox35" name = "В использовании">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Все члены команды имеют доступ к методам и инструментам, необходимым для их работы. </span>
  </label>

    <label for="myCheckbox36" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox36" name = "В использовании">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Вся команда вовлечена в адаптацию способа работы. </span>
  </label>
</div><br>

<div class="check-group">
 <h2>Работает хорошо</h2>
<label for="myCheckbox37" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox37" name = "Работает хорошо">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Члены команды добиваются прогресса в соответствии с планом, используя и адаптируя методы работы в соответствии с текущим контекстом. </span>
  </label>

    <label for="myCheckbox38" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox38" name = "Работает хорошо">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Команда применяет практики естественным образом. </span>
  </label>

    <label for="myCheckbox39" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox39" name = "Работает хорошо">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Инструменты естественным образом поддерживают работу команды. </span>
  </label>

    <label for="myCheckbox40" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox40" name = "Работает хорошо">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Команда постоянно настраивает используемые методы и инструменты. </span>
  </label>
</div><br>
<input type="submit" class="btn mt-4" value="Оценить">
</form>
{% endblock %}


