{% extends 'main/cycle.html'%}
{% block title %} Цикл 1 {% endblock %}


{% block content %}
<form action="results_1" method="post">
        {% csrf_token %}
<div class="check-group2">
<h1>Заинтересованные стороны</h1>
</div>
<!-- общий блок для всех чекбоксов -->
<div class="check-group">
    <h2> Признаны </h2>
  <!-- создаём подпись и указываем, к какому элементу она относится -->
  <label for="myCheckbox01" class="checkbox">

    <!-- размещаем обычный чекбокс и задаём ему нужный класс -->
    <!-- также указываем id, чтобы подпись смогла найти этот инбокс -->
    <input class="checkbox__input" type="checkbox" id="myCheckbox01" name = "Признаны" >

    <!-- готовим виртуальное пространство для рисования -->
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <!-- рисуем рамку чекбокса -->
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <!-- сразу делаем красивую галочку, но пока делаем её невидимой -->
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <!-- подписываем чекбокс -->
    <span class="checkbox__label">Выявлены все различные группы заинтересованных сторон, которые затронуты или будут затронуты разработкой и эксплуатацией системы программного обеспечения.</span>

  </label>

  <label for="myCheckbox02" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox02" name = "Признаны">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Существует соглашение о группах заинтересованных сторон, которые будут представлены. </span>
  </label>

   <label for="myCheckbox03" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox03" name = "Признаны">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Как минимум, заинтересованные группы, которые финансируют, используют, поддерживают систему, рассмотрены.</span>
  </label>

   <label for="myCheckbox04" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox04" name = "Признаны">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label">Определены обязанности представителей заинтересованных сторон.</span>
  </label>

  <!-- считаем и выводим результаты -->
 <!-- <div class="check-group__result" id="1" >Выбрано:</div>
    <div class="row mt-3">
                            <div class="col-md-12">
                                {% if vec %}
                                    {{ 1 }}
                                {% endif %}
                            </div>
                        </div>-->
</div><br>


<div class="check-group">
    <h2> Представлены </h2>
  <label for="myCheckbox05" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox05" name = "Представлены">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Представители заинтересованных сторон согласились взять на себя свои обязанности. </span>
  </label>

  <label for="myCheckbox06" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox06" name = "Представлены">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Представители заинтересованных сторон уполномочены выполнять свои обязанности. </span>
  </label>

   <label for="myCheckbox07" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox07" name = "Представлены">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Подход взаимодействия между представителями заинтересованных сторон был согласован. </span>
  </label>

   <label for="myCheckbox08" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox08" name = "Представлены">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Представители заинтересованных сторон поддерживают и уважают способ работы команды. </span>
  </label>
</div>



<!-- ВОЗМОЖНОСТЬ-->
<div class="check-group2">
<h1>Возможность</h1>
</div>

<div class="check-group">
    <h2> Определена </h2>
  <label for="myCheckbox09" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox09" name = "Определена">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Идея о том, например, как улучшить текущие способы работы, увеличить долю рынка или применить новую или инновационную систему программного обеспечения, была выявлена. </span>
  </label>

  <label for="myCheckbox10" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox10" name = "Определена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> По крайней мере, одна из заинтересованных сторон желает инвестировать в лучшее понимание возможности и ценности, связанной с ее решением. </span>
  </label>

   <label for="myCheckbox11" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox11" name = "Определена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Другие заинтересованные стороны, которые разделяют эту возможность, были определены. </span>
  </label>

</div><br>

<div class="check-group">
    <h2> Требуется решение </h2>
  <label for="myCheckbox12" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox12" name = "Требуется решение">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Заинтересованные стороны согласны с существованием возможности и предлагаемым решением. </span>
  </label>

  <label for="myCheckbox13" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox13" name = "Требуется решение">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Потребности заинтересованных сторон, которые обеспечивают возможность, были установлены. </span>
  </label>

   <label for="myCheckbox14" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox14" name = "Требуется решение">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Основные проблемы и причины их возникновения определены. </span>
  </label>

   <label for="myCheckbox15" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox15" name = "Требуется решение">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Подтверждено, что необходимо программное решение. </span>
  </label>

    <label for="myCheckbox16" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox16" name = "Требуется решение">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Предложено по крайней мере одно программное решение. </span>
  </label>
</div>



<!-- ТРЕБОВАНИЯ-->
<div class="check-group2">
<h1>Требования</h1>
</div>
<div class="check-group">
    <h2> Задуманы </h2>
  <label for="myCheckbox17" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox17" name = "Задуманы">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Первоначальная группа заинтересованных сторон соглашается с тем, что система должна быть произведена. </span>
  </label>

  <label for="myCheckbox18" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox18" name = "Задуманы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Заинтересованные стороны, которые будут использовать новую систему, определены. </span>
  </label>

   <label for="myCheckbox19" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox19" name = "Задуманы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Заинтересованные стороны, которые будут финансировать начальную работу над новой системой, определены. </span>
  </label>

   <label for="myCheckbox20" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox20" name = "Задуманы">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Для новой системы определена возможность (т.е. существует проблема, которая будет решена после создания системы). </span>
  </label>
</div>


<!-- КОМАНДА-->
<div class="check-group2">
<h1>Команда</h1>
</div>

<div class="check-group">
    <h2> Заявлена </h2>
  <label for="myCheckbox21" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox21" name = "Заявлена">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Миссия команды была определена с точки зрения возможностей и результатов. </span>
  </label>

  <label for="myCheckbox22" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox22" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Возможные ограничения во взаимодействии команды известны. </span>
  </label>

   <label for="myCheckbox23" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox23" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Механизмы для роста/развития команды известны. </span>
  </label>

   <label for="myCheckbox24" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox24" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Состав команды определен. </span>
  </label>

    <label for="myCheckbox25" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox25" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Любые ограничения на то, где и как выполняется работа, определены. </span>
  </label>

    <label for="myCheckbox26" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox26" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Обязанности команды изложены. </span>
  </label>

    <label for="myCheckbox27" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox27" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Уровень приверженности команды ясен. </span>
  </label>

    <label for="myCheckbox28" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox28" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Требуемые компетенции определены. </span>
  </label>

    <label for="myCheckbox29" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox29" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Размер команды определяется. </span>
  </label>

    <label for="myCheckbox30" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox30" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Правила управления определены. </span>
  </label>

    <label for="myCheckbox31" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox31" name = "Заявлена">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Модель лидерства определена. </span>
  </label>
</div><br>

<div class="check-group">
  <h2> Сформирована </h2>
  <label for="myCheckbox32" class="checkbox">

    <input class="checkbox__input" type="checkbox" id="myCheckbox32" name = "Сформирована">

    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>

    <span class="checkbox__label"> Обязанности каждого члена команды ясны. </span>
  </label>

  <label for="myCheckbox33" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox33" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Было набрано достаточное количество членов команды, чтобы работа продолжалась. </span>
  </label>

   <label for="myCheckbox34" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox34" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Каждый член команды понимает, как организована команда и какова его индивидуальная роль. </span>
  </label>

   <label for="myCheckbox35" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox35" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Все члены команды понимают, как выполнять свою работу. </span>
  </label>

    <label for="myCheckbox36" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox36" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Члены команды встретились (возможно, виртуально), то есть знакомы друг с другом. </span>
  </label>

    <label for="myCheckbox37" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox37" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Члены команды понимают свои обязанности и то, насколько они соответствуют своим компетенциям. </span>
  </label>

    <label for="myCheckbox38" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox38" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Члены команды принимают работу. </span>
  </label>

    <label for="myCheckbox39" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox39" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Любые внешние сотрудники (организации, команды и отдельные лица) определены. </span>
  </label>

    <label for="myCheckbox40" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox40" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Механизмы командного взаимодействия определены. </span>
  </label>

    <label for="myCheckbox41" class="checkbox">
    <input class="checkbox__input" type="checkbox" id="myCheckbox41" name = "Сформирована">
    <svg class="checkbox__icon" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#006F94" rx="3" />
      <path class="tick" stroke="#04145c" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>
    <span class="checkbox__label"> Каждый член команды обязуется работать в команде в соответствии с оговоренными требованиями </span>
  </label>
</div> <br>
<input type="submit" onClick="save()" class="btn mt-4" value="Оценить">
</form>

{% endblock %}